__BUILD/**
__DIST/**
_SATURNO/**
!.github/imgs/
!.github/imgs/**
.clang-format
.eslintrc.json
.github/**
.gitignore
.gitmodules
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/tsconfig.json
libs/**
out/tests/**
Saturno.CICD/**
Saturno.VSCodeFancyHeader.Internal/**
Saturno.VSCodeFancyHeader.Interval/**
Scripts/**
src/**
tests/**
vsc-extension-quickstart.md
