__BUILD/**
__DIST/**
_SATURNO/**
!.github/imgs/
!.github/imgs/**
.clang-format
.eslintrc.json
.github/**
.gitignore
.gitmodules
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/tsconfig.json
Libraries/**
out/tests/**
out/Libraries/**/tests/**
Saturno.CICD/**
Scripts/**
Source/**
tests/**
vsc-extension-quickstart.md
